################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirTableDatabase/bin/Debug/net6.0
/AirTableDatabase/obj
/AirTableWebApi/.vs
/AirTableWebApi/bin/Debug/net6.0
/AirTableWebApi/obj
/AirTableWebApi/Properties
/AirTableIdentity/bin/Debug/net6.0
/AirTableIdentity/obj
/.vs/AirTableWebApi/config
/.vs/AirTableWebApi/DesignTimeBuild
/.vs/AirTableWebApi/v17/TestStore/0
/.vs/AirTableWebApi/v17
/.vs/ProjectEvaluation
/.vs/AirTableWebApi/FileContentIndex
/Navmii.Request/obj
/Navmii.AirtableSync/.vs/Navmii.AirtableSync
/Navmii.AirtableSync/bin/Debug
/Navmii.AirtableSync/obj/Debug
/.vs/AirTableWebApi/v16
/AirtableApiClient/obj
/AirTableWebApi/AirTableIdentity/bin/Debug/net6.0
/AirTableWebApi/AirTableIdentity/obj
/Navmii.AirTableSyncNetcore6/bin/Debug/net6.0
/Navmii.AirTableSyncNetcore6/obj
/Navmii.SyncConsoleApp/bin/Debug/net6.0
/Navmii.SyncConsoleApp/obj
/packages
/Navmii.Request/bin/Debug/net6.0/Navmii.Request.dll
/Navmii.Request/bin/Debug/net6.0/Navmii.Request.pdb
