<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Navmii.AirtableSync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Navmii.AirtableSync.Settings>
            <setting name="BackupPath" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="ManualSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncTSheets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>keyq3TaUT1lLYYcfd</value>
            </setting>
            <setting name="SyncTime1" serializeAs="String">
                <value>05:00:00</value>
            </setting>
            <setting name="SyncTime2" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="SyncTime3" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="ProjectPrefix" serializeAs="String">
                <value>AM-DRIVE-AUS,AM &gt; DRIVE &gt; AUS</value>
            </setting>
            <setting name="MainDatabaseID" serializeAs="String">
                <value>appJmlJU2G1lRUnsq</value>
            </setting>
            <setting name="TSheetsApiToken" serializeAs="String">
                <value>S.9__821965b83c7fc5ba35dd8f6373d7b7b0baf06315</value>
            </setting>
        </Navmii.AirtableSync.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>